.black
{
	background-color: black;
	padding: 4%;
	border:1px solid white;

}
.orange
{
	background-color: orange;
	border:1px solid white;
	
}
.jaune
{
	background-color: #fad715;
	border:1px solid white;
	
}